@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background-color: #2eba57;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}
.navbar a{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin: 0 20px;
    transition: 0.5s;
}
.navbar a:hover,
.navbar a.active{
    color: #42c1e8;
}
.home{
    width: 100%;
    height: 100vh;
    background: #01003f;
    display: flex;
    align-items: center;
}